.flex-container{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items:center;
    background: linear-gradient(rgba(96,79,252,0.082), white);
}


.buttons{
    display:flex;
    flex-direction: row;
}

.content{
    display:flex;
    flex-direction: column;
    align-items: space-between;
}

.board{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: grid;
}

.title{
    font-weight: bold;
    font-size: 20px;
}


